<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seu Título</title>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #40C6DD;
            color: black;
            text-align: center;
            padding: 20px 0;
        }
          
    </style>
</head>
<body>

<div class="footer">
    <h2 style=color:white >Psicologia para Todos</h2>
  <h2 style=color:white;float:right;margin-right:300px;margin-botton:100px>®</h2>
</div>
    {% block content %}
    {% endblock %}
</body>
</html>
